body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header{
    background-image: linear-gradient(to right, #033721, #20EC96);
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.left-hd{
    display: flex;
    align-items: center;
}

header a{
    color: white;
    text-decoration: none;
}

.logo{
    width: 50px;
    height: 40px;
}

.video-primary{
    width: 100%;
    background-color: black;
}

video{
    width: 100%;
    height: 400px;
}

.element img{
    width: 100%;
    height: 200px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.areas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.areas h1{
    color: red;
    font-size: 50px;
}

.first-two{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.element{
    width: 45%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #033721;
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

footer span a{
    text-decoration: none;
    color: white;
}