body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header{
    background-image: linear-gradient(to right, #033721, #20EC96);
    color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.left-hd{
    display: flex;
    align-items: center;
}

header a{
    color: white;
    text-decoration: none;
}

.logo{
    width: 50px;
    height: 40px;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    color: black; 
    text-align: center;
    margin-bottom: 20px; 
    padding: 10px 10px; 
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.btn:hover {
    background-color: #45a049;
}