body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header{
    background-image: linear-gradient(to right, #033721, #20EC96);
    color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.left-hd{
    display: flex;
    align-items: center;
}

header a{
    color: white;
    text-decoration: none;
}

.logo{
    width: 50px;
    height: 40px;
}
/*Inicio del Formulario*/
h5{
    background-image: linear-gradient(to right, #033721, #20EC96);
    color: #f0f0f0;
    padding: 10px;
    text-align: center;
    width: 700px;
    position: relative;
    height: 50px;
    top: 93px;
}
aside{
    color: #f0f0f0;
    position: relative;
    top: -100px;
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-container {
    background-color: #d1cfcf;
    padding: 150px;
    height: 150px;
}

.form-group {
    margin-bottom: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 400px;
    padding: 10px;
    border: #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/*Inicio del footer*/
footer{
    background-color: #033721;
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

footer span a{
    text-decoration: none;
    color: white;
}