body{
    background-color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header{
    background-image: linear-gradient(to right, #033721, #20EC96);
    color: #f0f0f0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.left-hd{
    display: flex;
    align-items: center;
}

header a{
    color: white;
    text-decoration: none;
}

.logo{
    width: 50px;
    height: 40px;
}
/*Inicio del Formulario*/
.form-register{
    width: 400px;
    background: #d1d1d1; /*Fondo Principal*/
    padding: 100px;
    margin: auto;
    margin-top: 10px;
    font-family: 'calibri';
    color: #ffffff;
}

.form-register h4{
    position: relative;
    top: 1px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.controls{
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
}

.form-register p{
    text-align: center;
    font-size: 18px;
}

.form-register a{
    color: white;
    text-decoration: none;
}

.form-register .botons{
    width: 100%;
    background: #1fc52d;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
/*Inicio del footer*/
footer{
    background-color: #033721;
    color: white;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

footer span a{
    text-decoration: none;
    color: white;
}
